{% load static i18n %}
{% get_current_language as LANGUAGES_CODE %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>GAG</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="{% url 'main:index' %}">GAG</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown mr-2">
                                <a class="nav-link rounded-circle cover user-avatar" style="background-image: url('{{ request.user.avatar }}')" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{% url 'client:profile' %}">{% trans 'Profil' %}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'client:logout' %}">{% trans 'Chiqish' %}</a>
                                </div>
                            </li>
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-primary" style="color: white; border-radius: 18px"
                                    href="{% url 'main:upload' %}"><i class="bi bi-arrow-bar-up"></i>{% trans 'Yuklash' %}</a>
                            </li>
                            <div class="dropdown ml-2">
                                {% for lang in LANGUAGES %}
                                    {% if lang.0 != LANGUAGES_CODE %}
                                        {% if lang.0 != 'uz' %}
                                            <a class="nav-link dropdown lang-link" id="navbarDropdown" role="button" data-toggle="dropdown">🇺🇿</a>
                                        {% elif lang.0 != 'ru' %}
                                            <a class="nav-link dropdown lang-link" id="navbarDropdown" role="button" data-toggle="dropdown">🇷🇺</a>
                                        {% endif %}
                                    {% endif %}
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="/uz{{ request.get_full_path|slice:'3:' }}" class="dropdown-item">🇺🇿 O'zbekcha</a>
                                        <a href="/ru{{ request.get_full_path|slice:'3:' }}" class="dropdown-item">🇷🇺 Ruscha</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn" href="{% url 'client:login' %}">{% trans 'Tizimga kirish' %}</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-primary" style="color: white; border-radius: 18px"
                                    href="{% url 'client:registration' %}">{% trans "Ro'yhatdan o'tish" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
    

            




        {% if messages %}
        <div class="container">
            {% for message in messages %}
                <!-- <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> -->
                <!-- <div class="alert alert-success">{{ message }}</div> -->
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    <script src="{% static 'vendor/jquery-3.6.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>
